n8n_workflows/simple_test_webhook.json
{
  "name": "Simple Chat - Test Coolify AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "test-ai-agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ak08sc4008oo4w04g8os8gg0.129.151.133.251.sslip.io/chat",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.body.message }}\",\n  \"context\": {},\n  \"conversation_history\": []\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-ai",
      "name": "Call AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Call AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "id": "test",
      "name": "Test"
    },
    {
      "id": "ai-agent",
      "name": "AI Agent"
    }
  ]
}
