n8n_workflows/whatsapp_with_coolify_ai_agent.json
{
  "name": "WhatsApp with Coolify AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-odoo-ai",
        "options": {}
      },
      "id": "webhook-node",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "whatsapp-odoo-ai"
    },
    {
      "parameters": {
        "jsCode": "// Extract message from WhatsApp webhook\nconst body = $input.first().json.body;\n\n// Handle different message types\nlet messageText = '';\nif (body?.data?.message?.conversation) {\n  messageText = body.data.message.conversation;\n} else if (body?.data?.message?.extendedTextMessage?.text) {\n  messageText = body.data.message.extendedTextMessage.text;\n} else {\n  messageText = 'Hello';\n}\n\n// Extract sender information\nconst customerPhone = body?.data?.key?.remoteJid || 'unknown';\nconst customerName = body?.data?.pushName || 'Customer';\nconst instance = body?.instance || 'default';\n\n// Create session key for chat memory (if you want to add memory later)\nconst sessionKey = `${customerPhone}_${instance}`;\n\nreturn {\n  json: {\n    message: messageText,\n    customer_phone: customerPhone,\n    customer_name: customerName,\n    instance: instance,\n    session_key: sessionKey,\n    original_webhook: body\n  }\n};"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ak08sc4008oo4w04g8os8gg0.129.151.133.251.sslip.io/chat",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"context\": {\n    \"customer_name\": \"{{ $json.customer_name }}\",\n    \"customer_phone\": \"{{ $json.customer_phone }}\"\n  },\n  \"conversation_history\": []\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-ai-agent",
      "name": "Call Coolify AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format the AI response for WhatsApp\nconst aiResponse = $input.first().json.response;\n\n// Extract original webhook data\nconst originalData = $('Extract Message').first().json.original_webhook;\n\n// Prepare WhatsApp message\nreturn {\n  json: {\n    message: aiResponse,\n    instance: originalData?.instance || 'default',\n    remoteJid: originalData?.data?.key?.remoteJid?.split('@')[0] || 'unknown'\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "evolutionApi": {
          "id": "your-evolution-api-credential-id",
          "name": "Evolution API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Call Coolify AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Coolify AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "new-workflow-with-coolify",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f3d4fae1e1cc3e9778ed2b5dbdbc263016c71d2bca00d37cba817d37a774ea"
  },
  "tags": [
    {
      "id": "whatsapp-integration",
      "name": "WhatsApp Integration"
    },
    {
      "id": "odoo-erp",
      "name": "Odoo ERP"
    },
    {
      "id": "ai-agent",
      "name": "AI Agent"
    }
  ]
}
